.product-card {
  position: relative;
  box-shadow: 0 0 1px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 0.4rem;
  background-color: rgb(240, 240, 240);
  width: 24rem;
  padding: 1rem;
  margin-top: 3rem;
  grid-template-columns: 1fr 1fr;
  background-image: url("https://dbdzm869oupei.cloudfront.net/img/vinylrugs/preview/18784.png");
  background-size: 8.5rem;
  background-repeat: no-repeat;
  background-position-y: 1.8rem;
  background-position-x: 4.5rem;
  transition: background-position 0.3s;
  cursor: pointer;

}

.product-card:hover {
  background-position-x: 6rem;
}

/* Texts/Infos */

.product-info {
  display: inline-block;
  margin-right: 0;
  width: 9rem;
}

.product-card .product-info h3,
.product-card .product-info ul {
  transition: 0.3s;
}

.product-card .product-info h3 {
  padding: 1px 3px;
  border-radius: 3px;
  transform: translateY(50px);
}

.product-card .product-info ul {
  border-left: 2px solid black;
  padding: 0 10px;
  margin: 1rem 0;
  border-radius: 0 3px 3px 0;
  transform: translateY(20px);
  opacity: 0;
}

.product-card .product-info ul li {
  margin: 5px 0;
}

.product-card:hover .product-info ul {
  background-color: white;
  box-shadow: 0 0 2.5px rgb(0, 0, 0);
  transform: translateY(0);
  opacity: 1;
}

.product-card:hover .product-info h3 {
  color: white;
  background-color: black;
  box-shadow: 1px 0 2.5px rgb(0, 0, 0);
  transform: translateY(0);
}

/* buttons */

.product-buttons {
  width: calc(100% + 4.5px);
  height: 2rem;
  position: absolute;
  left: -2.5px;
  border-right: 0.5px solid black;
}

.product-buttons button {
  width: 50%;
  height: 100%;
  border-radius: 0%;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-left: 0.5px solid black;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;

  transition: background-color 0.3s;
}

.product-buttons button:hover {
  background-color: black;
  color: white;
}

.product-buttons .buy_btn {
  position: relative;
}

#Punk-Rock-section .product-buttons .buy_btn {
  top: -1px;
}

#Heavy-Metal-section .product-buttons .buy_btn {
  top: -2px;
}

.product-buttons button span {
  position: relative;
}

.product-buttons .add_wish_btn span {
  top: -6px;
}

.product-buttons .buy_btn span {
  top: -4px;
}


/* Images */

.product-img {
  height: 10rem;
  width: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0;
  box-shadow: 0rem 0 rgb(255, 255, 255), 0 0 rgb(0, 0, 0), 0rem 0.05rem rgb(0, 0, 0);
  transition: 0.2s;
  border-radius: 2px;

}

.product-card:hover .product-img {
  box-shadow: 0.5rem 0 rgb(255, 255, 255), 0.55rem 0 rgb(0, 0, 0), 0.55rem 0.05rem rgb(0, 0, 0);
  transform: rotateY(25deg);
}


/* Ipad */

@media screen and (max-width: 1800px) {}

@media screen and (max-width: 1360px) {}


/* Phone */

@media screen and (max-width: 920px) {
  .product-card .product-info ul {
    background-color: white;
    box-shadow: 0 0 2.5px rgb(0, 0, 0);
    transform: translateY(0);
    opacity: 1;
  }

  .product-card .product-info h3 {
    color: white;
    background-color: black;
    box-shadow: 1px 0 2.5px rgb(0, 0, 0);
    transform: translateY(0);
  }

  .product-card {
    width: 20rem;
    background-size: 6rem;
    background-position-x: 5rem;
  }

  .product-img {
    width: 8rem;
    height: 8rem;
  }

  .product-buttons {
    height: 1.5rem;
  }
}




/* Heavy Metal Img */

.Trash .product-img {
  background-image: url("https://hmrock.com.br/wp-content/uploads/2021/09/D_NQ_NP_798298-MLC28298169568_102018-O_Fotor.jpg");
}

.Powerslave .product-img {
  background-image: url("https://a-static.mlcdn.com.br/800x600/iron-maiden-powerslave-cd-emi/lojinhamis/5293p/95411aa97afd891db51a502ecd5b263c.jpg");
}

.BraveNewWorld .product-img {
  background-image: url("https://www.mundodasguitarras.pt/wp-content/uploads/2020/01/81BVsdXqg6L._SL1300_.jpg");
}

.AceOfSpades .product-img {
  background-image: url("https://m.media-amazon.com/images/I/91AmOt+VCeL._AC_SL1500_.jpg");
}

.BlackInBlack .product-img {
  background-image: url("https://upload.wikimedia.org/wikipedia/pt/b/b6/Back_in_Black.jpg");
}

.Paranoid .product-img {
  background-image: url("https://www.tenhomaisdiscosqueamigos.com/wp-content/uploads/2020/09/black-sabbath-paranoid-capa.jpg");
}


/* Punk Rock Img */

.TheSkysGoneOut .product-img {
  background-image: url("https://m.media-amazon.com/images/I/51mPAlmi2QL._AC_SX466_.jpg");
}

.StayFree .product-img {
  background-image: url("https://i.scdn.co/image/ab67616d0000b2734a6e3d89a9c44353900be33d");
}

.LondonCalling .product-img {
  background-image: url("https://images.genius.com/4a6a87701148b9392cff6259eb38e14b.1000x1000x1.png");
}

.RoadToRuin .product-img {
  background-image: url("https://m.media-amazon.com/images/I/81JsL9W+CKL._AC_SL1425_.jpg");

}

.LeaveHome .product-img {
  background-image: url("https://m.media-amazon.com/images/I/A16IGgn8MRL._AC_SL1500_.jpg");
}

.RoquetToRussia .product-img {
  background-image: url("https://m.media-amazon.com/images/I/A1X2GZVW4jL._AC_SL1500_.jpg");
}