@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a278og');
  src:  url('fonts/icomoon.eot?a278og#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a278og') format('truetype'),
    url('fonts/icomoon.woff?a278og') format('woff'),
    url('fonts/icomoon.svg?a278og#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
  content: "\e903";
}
.icon-love:before {
  content: "\e901";
}
.icon-believe:before {
  content: "\e901";
}
.icon-like:before {
  content: "\e901";
}
.icon-admire:before {
  content: "\e901";
}
.icon-hope:before {
  content: "\e901";
}
.icon-happiness:before {
  content: "\e901";
}
.icon-music:before {
  content: "\e902";
}
