#wishlist {
  width: 80%;
  height: 80vh;
  overflow-y: scroll;
  margin-top: 5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem black;
  padding: 5rem 2rem;
}


#wishlist .product-card {
  margin-top: 5rem;
  position: relative;
  width: 27rem;

}

#wishlist .add_wish_btn {
  position: absolute;
  top: -13rem;
  left: -0.5rem;
  border-radius: 50%;
  width: 2rem;
  background-image: url("https://cdn-icons-png.flaticon.com/512/2089/2089650.png");
  background-color: rgb(255, 196, 196);

  background-size: 1.1rem;
  background-repeat: no-repeat;
  border: 1px black solid;
  background-position: center;
}

#wishlist .add_wish_btn:hover {
  background-color: rgb(255, 255, 255);
}

#wishlist .buy_btn {
  width: 100%;
}

#wishlist .add_wish_btn .icon-love {
  display: none;
}

#wishlist .add_wish_btn span {
  display: none;
}

/* Section */

dialog .products-section {
  position: relative;

}

dialog .products-section .grid-section {
  margin-top: -3rem;
  grid-template-columns: 1fr 1fr 1fr;
}



/* Ipad */

@media screen and (max-width: 1800px) {
  dialog .products-section .grid-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1360px) {
  dialog .products-section .grid-section {
    grid-template-columns: 1fr;
  }
}


/* Phone */

@media screen and (max-width: 920px) {
  #wishlist .product-card {
    width: 18rem;
  }

  #wishlist .add_wish_btn {
    position: absolute;
    top: -10.5rem;
    left: -0.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-image: url("https://cdn-icons-png.flaticon.com/512/2089/2089650.png");
    background-color: rgb(255, 196, 196);

    background-size: 1.05rem;
    background-position-y: 6px;
    background-repeat: no-repeat;
    border: 1px black solid;
  }

}

.wishlist-mensage {
  width: max-content;
  position: absolute;
  left: calc(50% - 7.5rem);
  top: 13rem;
  text-align: center;
}