.Slider {
  margin-top: 1rem;
  display: block;
  position: relative;
  width: 100%;
}

.slider-img div {
  height: 30vw;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-img .slider-content {
  color: white;
  padding: 5% 10%;
  background-color: rgba(0, 0, 0, 0.404);
  height: 100%;
}

.slider-img h1 {
  font-size: 3rem;
}


/* Phone */

@media screen and (max-width: 920px) {
  .Slider {
    margin-top: 0;
  }

  .slider-img h1 {
    font-size: 1.6rem;
  }
}

.h-img1 {
  background-image: url("https://images.unsplash.com/photo-1587731556938-38755b4803a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1178&q=80");
}

.h-img2 {
  background-image: url("https://images.unsplash.com/photo-1487180144351-b8472da7d491?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80");
  background-position-y: 50%;
}

.h-img3 {
  background-image: url("https://images.unsplash.com/photo-1582730147924-d92f4da00252?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
}