* {
  margin: 0 auto;
  padding: 0 0;
  box-sizing: border-box;
}

#App {
  padding-top: 3rem;
}

body {
  background-color: rgb(255, 255, 255);
}

section {
  margin-bottom: 5rem;
}

main h1,
h2 {
  text-transform: uppercase;

}

main h1 {
  margin: 2rem 0;
  text-align: center;
  letter-spacing: 2px;
  border-bottom: 2px black solid;
  padding: 1rem 0;
}

h2 {
  margin: 0.5rem 0;
  margin-top: 5rem;
  border-bottom: solid 2px black;
  padding: 0.7rem 1rem;
  display: block;
  width: max-content;
  letter-spacing: 1px;
}

h2 span {
  font-size: 1.2rem;
  margin: 0 1rem;
  display: inline-block;
}

ul {
  list-style: none;
}

main {
  margin-top: 3.3rem;
  width: 90%;
}

dialog {
  width: 100%;
  height: 100vh;
  top: 0;
  border: none;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.384);
  position: fixed;
}

.grid {
  display: grid;
}

.invisible {
  display: none;
}

/* Fonts */

@font-face {
  font-family: 'Riesling';
  src: url(./assets/texts-fonts/riesling.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 
    Oswald:

    -Thin 100
    -Thin 100 Italic
    -Light 300
    -Light 300 Italic
    -Regular 400
    -Regular 400 Italic
    -Medium 500
    -Medium 500 Italic
    -Bold 700
    -Bold 700 Italic
    -Black 900
    -Black 900 Italic 
    
    Roboto:

    -Thin 100
    -Thin 100 Italic
    -Light 300
    -Light 300 Italic
    -Regular 400
    -Regular 400 Italic
    -Medium 500
    -Medium 500 Italic
    -Bold 700
    -Bold 700 Italic
    -Black 900
    -Black 900 Italic

    */

:root {
  /* Colors */
  --color1: #96858F;
  --color2: #6D7993;
  --color3: #9099A2;
  --color4: #D5D5D5;
  --color5: black;
  --color-text1: white;
  --color-text2: black;
  --color-text3: rgb(49, 49, 49);
  --body-color: #D5D5D5;
  --color-nav1: rgba(0, 0, 0, 0);
  --color-nav2: rgb(0, 0, 0);
  --color-li1: rgb(255, 255, 255);
  --color-li2: rgb(255, 255, 255);
  --color-header-text: rgb(255, 255, 255);
  --color-header-text2: rgba(0, 0, 0, 0.63);

  /* Fonts */
  --logo-font: 'Riesling', serif;
  --title-font: 'Oswald', sans-serif;
  --text-font: 'Roboto', sans-serif;
  --text-font2: sans-serif;
}

#logotype {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 5px;
  font-family: var(--logo-font);
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}

#logotype {
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}

#logotype span {
  color: rgb(253, 251, 147);
}

dialog h1 {
  border-bottom: 2px black solid;
  width: 80%;
  padding-bottom: 1rem;
  margin-top: 1rem;
  letter-spacing: 3px;
}

h1,
h2,
h3 {
  font-family: var(--title-font);
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

p,
li {
  font-family: var(--text-font2);
}

/* Header */

#logotype,
#wishlist-btn {
  display: inline-block;
}

#wishlist-btn {
  float: right;
  margin-top: 0.6rem;
  width: 10rem;
  height: 2rem;
  background-color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding-right: 2px;
  transition: 0.2s;
}

#wishlist-btn:hover {
  border: 1px white solid;
  background-color: black;
  color: white;
}

#wishlist-btn .icon-love {
  color: rgb(255, 0, 0);
}

#wishlist-btn span {
  position: relative;
  top: -0.4rem;
}

#wishlist-btn-close {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 5rem;
  border-radius: 0 0 2rem 2rem;
  border: none;
  background-color: rgb(255, 196, 196);
  text-transform: uppercase;
  height: 2.5rem;
  z-index: 1000;
  cursor: pointer;
  transition: 0.3s;
  border: 1px black solid;
}

#wishlist-btn-close:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

#top-bar {
  background-color: rgba(0, 0, 0, 100);
  height: 4rem;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 5px 50px;
  z-index: 100;
  transition: background-color 0.2s;
}

/* Section */

.products-section .grid-section {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}




/* icons */

.icon-shopping-cart,
.icon-love {
  display: inline-block;
  margin-right: 10px;
}

.icon-shopping-cart {
  font-size: 1.2rem;
  margin-top: 3.5px;
  margin-right: 12px;
  position: relative;
  top: -1.5px;
}

.icon-love {
  font-size: 1.7rem;
  position: relative;
  top: 0.05px;
  transition: 0.3s;
}

.saved .icon-love {
  color: rgb(255, 153, 0);
}

.icon-music {
  margin-right: 0.5rem;
}

/* Ipad */

@media screen and (max-width: 1800px) {
  .products-section .grid-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1360px) {
  .products-section .grid-section {
    grid-template-columns: 1fr 1fr;
  }
}


/* Phone */

@media screen and (max-width: 920px) {
  #top-bar {
    height: 3rem;
  }

  #top-bar button {
    height: 1.3rem;
    width: 7.5rem;
  }

  #top-bar h1 {
    font-size: 2rem;
    margin-top: 2px;
  }

  main h1 {
    font-size: 1.4rem;
    padding-bottom: 5px;
    margin-bottom: -2rem;
  }

  h2 {
    font-size: 1.2rem;

  }

  .products-section h2 {
    padding-bottom: 5px;

    margin-bottom: -1rem;
  }

  h2 span {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  ul {
    font-size: 0.6rem;
  }

  button {
    font-size: 0.6rem;

  }

  .icon-shopping-cart {
    font-size: 0.8rem;
  }

  .icon-love {
    font-size: 1.2rem;
  }

  .product-card .product-info {
    width: 7rem;
  }

  .products-section .grid-section {
    grid-template-columns: 1fr;
  }


}